$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'bulma';
body {
  margin: 0 auto;
  font-family: 'Playfair Display', serif;
}

.container  {
  margin: 0 auto;
  max-width: 55rem;
}

.section {
  background: #F5F7FA;
}

.content {
  display: flex;
  justify-content: space-around;
}

.me {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  max-width: 100%;
}
.profile__pic {
  border-radius: 50%;
  border: 0.1rem solid #69707A;
}
