<div class="modal is-active">
<div class="modal-background"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title has-text-centered">Contact Info</p>
    {{#link-to "index"}}
    <button class="delete"></button>
    {{/link-to}}
  </header>
  <section class="modal-card-body">
    <!-- Content ... -->
    <p class="title">Phone: (615)-601-2254</p>
    <p class="title">Email: dwtimp@gmail.com</p>
  </section>
  <footer class="modal-card-foot">
  </footer>
</div>
</div>
