<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Dustin Walker</p>
      {{!-- {{#link-to "app"}} --}}
      <button class="delete"></button>
      {{!-- {{/link-to}} --}}
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
<div class="me">
  <figure class="image is-128x128">
      <img src="http://bulma.io/images/placeholders/128x128.png">
  </figure>

  <article class="message is-dark">
    <div class="message-header">
      <p>About Me</p>
    </div>
    <div class="message-body">
      Hello, I'm Dustin Walker.  I'm originally from Cookeville, TN and moved to Nashville to pursue a career in web development.  Previously I worked in the service industry and those experiences give me a unique perspective into building applications for the end user.  I often found myself curious as to how applications functioned and look forward to creating solutions that are accessible and appealing to all potential users.

In my personal life I enjoy spending time with friends and family, as well as almost any outdoor activities.  I'm also very interested in civic engagement and giving back to the community.  Naturally, being a Tennessee native, I also enjoy all the wonderful live music this city has to offer.

Relevant Skills
- HTML
- CSS
- SASS
- JavaScript
- Adonis
- Vue
- Ember
- Project Management.

    </div>
</article>
</div>


    </section>
    <footer class="modal-card-foot">
    </footer>
  </div>
</div>
