<div class="app">
  <div class="tabs is-centered is-info">
    <ul>
      <li>
        <a>
          <span class="icon is-small"><i class="fa fa-code" aria-hidden="true"></i></span>
          <span>Dustin Walker</span>
        </a>
      </li>

      <li>
        <a>
          <span class="icon is-small"><i class="fa fa-github" aria-hidden="true"></i></span>
          <span>GitHub</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
          <span>Linked In</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
          <span>Resume</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
          <span>Contact</span>
        </a>
      </li>

    </ul>
  </div>
  <section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-centered">
        Hello, I am Dustin Walker. A web developer.
      </h1>
      <h2 class="subtitle is-bold is-centered">
        Let's solve some problems.
      </h2>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        This application was built with Ember JS and Bulma.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
</div>
