<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Beat The Boot</p>
      {{#link-to "index"}}
        <button class="delete"></button>
      {{/link-to}}
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <article class="message is-dark">
  <div class="message-body">
    Beat The Boot was my final project at The Iron Yard.  Our final projects were a collaborative effort with a partner.
    The idea behind this app was to provide a service to the great local coffee shops in our area.  I wanted to build
    an application that would provide the end user the opportunity to place an order, find directions to the specific shop and
    find parking in the area.  The applications also provides the shop owners with the ability to manipulate their menu items
    and mark available parking options.  We built this application with: EmberJS, AdonisJS, SASS, Google Maps and Bulma.
  </div>
</article>

    </section>
    <footer class="modal-card-foot">
      <a href="https://beat-the-boot.herokuapp.com/app"class="button is-dark is-focused">View Project</a>
    </footer>
  </div>
</div>
