<div class="hero-body">
  <div class="container">
    <h1 class="title has-text-centered">
      Hi, I'm Dustin Walker. Nice to meet you.
      </h1>
    <h1 class="subtitle has-text-centered">
        <strong>I Build Things on the internet.</strong>
      </h1>
  </div>
</div>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <div class="card">
          <div class="card-image">
            {{#link-to "boot" class="message is-info" }}
            <figure class="image is-4by3">
              <img src="/images/boot.jpeg" alt="Image">
            </figure>
            {{/link-to}}
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="head">Stack: Ember Js Adonis JS  SASS</h4>
            </div>
            <div class="footer_text">
            <a href="https://beat-the-boot.herokuapp.com/app" target="_blank">View Project</a>
              <a href="https://github.com/DustinJWalker/beat-the-boot" target="_blank">See the code</a>
            </div>

          </div>
        </div>
      </div>

      <div class="column is-6">
        <div class="card">
          <div class="card-image">
            {{#link-to "marvel" class="message-is-info"}}
            <figure class="image is-4by3">
              <img src="/images/marvela.jpg" alt="Image">
            </figure>
            {{/link-to}}
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="head">Stack: Vue JS Marvel API SASS</h4>
            </div>
            <div class="footer_text">
              <a href="https://dustin-marvel.surge.sh" target="_blank">View Project</a>
              <a href="https://github.com/DustinJWalker/15-marvel" target="_blank">See the Code</a>
            </div>
          </div>
        </div>
      </div>
  </div>

    <div class="columns">
      <div class="column is-6">
        <div class="card">
          <div class="card-image">
            {{#link-to "tshirt" class="message-is-info"}}
            <figure class="image is-4by3">
              <img src="/images/whymp.jpg" alt="Image">
            </figure>
            {{/link-to}}
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="head">Stack: HubSpot CMS</h4>
            </div>
            <div class="footer_text">
            <a href="http://www.medproctor.com/why-medproctor-immunization-verification" target="_blank">View Page</a>
            </div>

          </div>
        </div>
      </div>
        <div class="column is-6">
          <div class="card">
            <div class="card-image">
              {{#link-to "netflix" class="message-is-info"}}
              <figure class="image is-4by3">
                <img src="/images/netflixa.jpg" alt="Image">
              </figure>
              {{/link-to}}
            </div>
            <div class="card-content">
              <div class="content">
                <h4 class="head">Stack: Vanilla JS Netflix API SASS</h4>
              </div>
              <div class="footer_text">
                <a href="http://dustin-netflix.surge.sh/" target="_blank">View Project</a>
              <a href="https://github.com/DustinJWalker/12-netflix-results" target="_blank">See the Code</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</section>
