{{!-- <section class="hero is-dark is-bold"> --}}
<div class="hero-body">
  <div class="container">
    <h1 class="title has-text-centered">
      Hi, I'm Dustin Walker. Nice to meet you.
      </h1>
    <h2 class="subtitle has-text-centered">
        <strong>Web.developer()</strong>
      </h2>
  </div>
</div>
{{!-- </section> --}}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <figure class="image is-256x256">
          <a href="https://beat-the-boot.herokuapp.com/app" target="_blank">
            <img src="./images/bootamock.jpg">
          </a>
        </figure>
      </div>
      {{!-- <div class="column__1">
        <figure class="image is-256x256">
          <a href="https://beat-the-boot.herokuapp.com/app" target="_blank">
            <img src="./images/bootbmock.jpg">
          </a>
        </figure>
      </div> --}}
      <div class="column is-half--info">
        {{#link-to "boot" class="message is-info" }}
          <article class="message">
            <div class="message-header">
              Project Info
            </div>
            <div class="message-body">
              Beat The Boot was my final project at The Iron Yard. Our final projects were a collaborative effort with a partner. The idea behind this app was to provide a service to the great local coffee shops in our area. I wanted to build an application that would
              provide the end user the opportunity to place an order, find directions to the specific shop and find parking in the area. Click to read more.
            </div>
          </article>
          {{/link-to}}
        </div>
      </div>


    <div class="columns">
      <div class="column is-half">
        <figure class="image is-256x256">
          <a href="http://www.dustin-marvel.surge.sh" target="_blank">
            <img src="/images/marvelmocka.jpg">
          </a>
        </figure>
      </div>


      {{!-- <div class="column__1">
        <figure class="image is-256x256">
          <a href="http://www.dustin-marvel.surge.sh" target="_blank">
            <img src="/images/marvelmockb.jpg">
          </a>
        </figure>
      </div> --}}

      <div class="column is-half--info">
        {{#link-to "marvel" class="message is-info" }}
        <article class="message">
          <div class="message-header">
            Project Info
          </div>
          <div class="message-body">
            Marvel was our first project using a JavaScript framework.  On this build we used VUE JS.  It was an eye opening experience
            to see how a framework could make your job more effecient while also giving you greater ability.  I'm not a huge comic
            book fan, but using the Marvel API and searching all those iconic comic book titles, in an applicataion we built no less,
            was a very rewarding experience.
          </div>
        </article>
        {{/link-to}}
      </div>
    </div>

    <div class="columns">
      <div class="column is-half">
        <figure class="image is-256x256">
          <a href="http://dustin-netflix.surge.sh" target="_blank">
            <img src="/images/netflixmocka.jpg">
          </a>
        </figure>
      </div>
      {{!-- <div class="column__1">
        <figure class="image is-256x256">
          <a href="http://dustin-netflix.surge.sh" target="_blank">
            <img src="/images/netflixmockb.jpg">
          </a>
        </figure>
      </div> --}}
      <div class="column is-half--info">
        {{#link-to "netflix" class="message is-info" }}
        <article class="message is-dark">
          <div class="message-header">
            Project Info
          </div>
          <div class="message-body">
            This was our first weekend assignment working with both JavaScirpt and API's.  It was really fun to work on a project
            with such cultural relevance.  A great learning experience with how JavaScript makes web applications interactive.
            Working with the API's was also exciting with this project.  Click to read more.
          </div>
        </article>
        {{/link-to}}
      </div>
    </div>


    <div class="columns">
      <div class="column is-half">
        <figure class="image is-256x256">
          <a href="http://dustin-tshirt.surge.sh" target="_blank">
            <img src="/images/shirtmocka.jpg">
          </a>
        </figure>
      </div>
      {{!-- <div class="column__1">
        <figure class="image is-256x256">
          <a href="http://dustin-tshirt.surge.sh" target="_blank">
            <img src="/images/shirtmockb.jpg">
          </a>

        </figure>
      </div> --}}
      <div class="column is-half--info">
        {{#link-to "tshirt" class="message is-info" }}
        <article class="message">
          <div class="message-header">
            Project Info
          </div>
          <div class="message-body">
            T Shirts was the first project where we built the app with mobile responsiveness at the forefront.  We were also getting
            more familiarized with using SASS to better organize the styling portion of our projects to make better use of our code.
            This project proved to be a great exercise with styling and laid the foundation for the skills we would continue to
            use throughout the remainder of the cohort.

          </div>
        </article>

        {{/link-to}}
      </div>
    </div>


  </div>





</section>
