<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Marvel</p>
      {{#link-to "index"}}
        <button class="delete"></button>
      {{/link-to}}
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <article class="message is-dark">
  <div class="message-body">
    Marvel was our first project using a JavaScript framework.  We used Vue JS for this build.  Vue has similarities to both
    Angular and React.  This project also provided the opportunity to work with a much larger API than we used with our
    Marvel project.  This provided the opportunity to have multiple results returned per page and also challenged our
    design skills to format the layout of the search results.  Technologies used: Vue JS, SASS, Marvel API.
  </div>
</article>

    </section>
    <footer class="modal-card-foot">
      <a href="https://dustin-marvel.surge.sh"class="button is-primary is-focused" target="_blank">View Project</a>

    </footer>
  </div>
</div>
{{outlet}}
