<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Netflix</p>
      <a href="app">
      <button class="delete"></button>
      </a>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <article class="message is-dark">
  <div class="message-body">
    This was our first weekend assignment working with both JavaScirpt and API's.  It was really fun to work on a project
    with such cultural relevance.  A great learning experience with how JavaScript makes web applications interactive.
    Working with the API's was also exciting with this project.  One of the best parts of The Iron Yard was doing projects
    like this.  You really are peeking into the window of how these massive applications are built.  This project was built
    using JavaScript and SASS.
  </div>
</article>

    </section>
    <footer class="modal-card-foot">
      <a href="https://dustin-marvel.surge.sh"class="button is-dark is-focused">View Project</a>

    </footer>
  </div>
</div>
{{outlet}}
