<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Netflix</p>
      {{#link-to "index"}}
        <button class="delete"></button>
      {{/link-to}}
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <article class="message is-dark">
  <div class="message-body">
    This was our first weekend assignment working with both JavaScirpt and API's.  It's a basic Netflix search using the Netflix public API.
    Hint: When you search a Netflix original program it doesn't show the actual show poster, but rather The Other Side of the Mountain Part 2!
    This project was built using Vanilla JavaScript, SASS Netflix API.
  </div>
</article>

    </section>
    <footer class="modal-card-foot">
      <a href="http://dustin-netflix.surge.sh/"class="button is-primary is-focused" target="_blank">View Project</a>

    </footer>
  </div>
</div>
{{outlet}}
