<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Marvel</p>
      <button class="delete"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <article class="message is-dark">
  <div class="message-body">
    Marvel was our first project using a JavaScript framework.  On this build we used VUE JS.  It was an eye opening experience
    to see how a framework could make your job more effecient while also giving you greater ability.  I'm not a huge comic
    book fan, but using the Marvel API and searching all those iconic comic book titles, in an applicataion we built no less,
    was a very rewarding experience.
  </div>
</article>

    </section>
    <footer class="modal-card-foot">

    </footer>
  </div>
</div>
{{outlet}}
