<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Why Med+Proctor</p>
      {{#link-to "index"}}
        <button class="delete"></button>
      {{/link-to}}
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <article class="message is-dark">
  <div class="message-body">
    This is the first page that I got paid to do!  I had just started with Med+Proctor, a local startup here in Nashville.
    They requested a page that showed the benefits of using their software versus conventional methods. It was the first
    page I constructed utilizing the HubSpot content management software.
  </div>
</article>

</section>
    <footer class="modal-card-foot">
      <a href="http://www.medproctor.com/why-medproctor-immunization-verification"class="button is-primary is-focused" target="_blank">View Project</a>

    </footer>
  </div>
</div>
{{outlet}}
