<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">T Shirts</p>
      <a href="app">
      <button class="delete"></button>
      </a>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <article class="message is-dark">
  <div class="message-body">
    T Shirts was the first project where we built the app with mobile responsiveness at the forefront.  We were also getting
    more familiarized with using SASS to better organize the styling portion of our projects to make better use of our code.
    This project proved to be a great exercise with styling and laid the foundation for the skills we would continue to
    use throughout the remainder of the cohort.
  </div>
</article>

    </section>
    <footer class="modal-card-foot">
      <a href="https://dustin-tshirt.surge.sh"class="button is-dark is-focused">View Project</a>

    </footer>
  </div>
</div>
{{outlet}}
